<div class="homepage">
    <div class="main_container">
        <div class="navigation_bar">
            <div class="search_input_button">
                <input type="text" name="Search_bar" id="" placeholder="Search" class="search_subject">
                <button class="search_button">Search</button>
            </div>
            <div class="navigation_list">
                <ul>
                    <li class="navigation_bar_li">Home</li>
                    <li class="navigation_bar_li">Profile</li>
                    <li class="navigation_bar_li">Contact</li>
                    <li class="navigation_bar_li">List of Subjects</li>
                    <li class="navigation_bar_li">Calendar</li>
                </ul>
            </div>
        </div>
        
        <div class="absence_section">
            <div class="absence_header">
                <h3>Date</h3>
                <h3>Week 1</h3>
            </div>
            <div class="subject_components">
                <hr class="hr_style">
                <app-homesubject></app-homesubject>
                <app-homesubject></app-homesubject>
                <app-homesubject></app-homesubject>
                <app-homesubject></app-homesubject>
            </div>
        </div>
    </div>
</div>