<div class="home_subject">
    <div class="subject_div">
        <h5>Subject</h5>
        <p>Subject info</p>
        <button type="button" class="btn btn-primary" style="color:white;">Check</button>
    </div>
    <div class="seances">
        <input type="checkbox" class="btn-check seance seance_check_buttons" id="algobtncheck2" autocomplete="off"/>
        <label class="btn btn-outline-primary seance seance_check_buttons" for="algobtncheck2">Seance 1</label>
        <input type="checkbox" class="btn-check" id="algobtncheck2" autocomplete="off"/>
        <label class="btn btn-outline-primary seance seance_check_buttons" for="algobtncheck2">Seance 2</label>
        <input type="checkbox" class="btn-check" id="algobtncheck2" autocomplete="off"/>
        <label class="btn btn-outline-primary seance seance_check_buttons" for="algobtncheck2">Seance 3</label>
        <input type="checkbox" class="btn-check" id="algobtncheck2" autocomplete="off"/>
        <label class="btn btn-outline-primary seance seance_check_buttons" for="algobtncheck2">Seance 4</label>
    </div>
</div>